.container{
    width: 100%;
    height: 100vh;
    background-image: url(background\ 2.jpg);
    background-position:center;
    background-size: cover;
    opacity: 0.8;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size:20px ;
    justify-content: space-between;
  
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col
{
    flex-basis: 50%;

}
h1{
    color: white;
    font-size: 3rem;
}
p{
    color: white;
    font-size: 11px;
  
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: tarnsform 1;


}
.card1{
    background-image: url(dhaka.jpg);

}
.card2{
    background-image: url(chittagong.jpg);

}
.card3{
    background-image: url(sylhet.jpg);

}
.card4{
    background-image: url(sundarban\ 2\ .jpeg);

}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: white;
    text-shadow:  0 0 5px #999;
}
.card p{
    text-shadow:  0 0 1px #000;
    font-size: 8px;
}
.title{
	text-align: center;
   
}
.title h2{
	font-size: var(--h2-font);
	line-height: 1.2;
    color: white;
}
.package-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
  
}
.thum{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
}
.thum img{
	width: 100%;
	height: auto;
}
.thum h3{
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: var(color);
	top: 36px;
	right: 40px;
}
.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
}


.location h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}
.location p{
	font-size: 15px;
	color: white;
}
.thum:hover{
	
	transform: scale(1.04);
}
.destination-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}
.col-content{
	position: relative;
}
.col-content img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	
}
.col-content h5{
	position: absolute;
	font-size: 22px;
	font-weight: 500;
	color: white;
	left: 15px;
	bottom: 60px;
}
.col-content p{
	position: absolute;
	font-size: 15px;
	color: white;
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
}
.col-content img:hover{
	
	transform: scale(1.04);
	cursor: pointer;
}
#contact{
	background: white;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	padding: 20px 0;
}
.list{
	width: 25%;
}
.list h4{
	font-size: 21px;
	color: var(--bg-color);
	margin-bottom: 30px;
	position: relative;
}
.list h4::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 60px;
	left: 0;
	bottom: -10px;
	background: var(--bg-color);
}
.list ul li:not(last-child) {
	margin-bottom: 16px;
}
.list ul li a{
	color: #0e0c0cbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}
.list ul li a:hover{
	color: var(--bg-color);
	transform: translateX(14px);
}
.list .social a{
	height: 40px;
	width: 40px;
	background: black;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 10px;
}
.list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: black;
	font-size: 14px;
	letter-spacing: 2px;
}
footer {
    background-color: #0c4e6e;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



